<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
<section class="todoapp">
	<header class="header">
		<h1>todos</h1>

			<input @keyup.enter="add()" v-model="text" class="new-todo" placeholder="What needs to be done?" autofocus>

	</header>
	<!-- This section should be hidden by default and shown when there are todos -->
	<section class="main">
		<input @click="toggleAll()" class="toggle-all" type="checkbox">
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
			<!-- These are here just to show the structure of the list items -->
			<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
			<li @dblclick="edit(index)" v-for="(item , index) in datas" :class="{completed : item.complete,editing : editStatus===index}">
				<div class="view">
					<input v-model="item.complete" class="toggle" type="checkbox">
					<label>{{item.text}}</label>
					<button class="destroy" @click="del(index)"></button>
				</div>

					<input @keyup.enter="saveText(index)" class="edit" v-model="item.text">
			</li>
		</ul>
	</section>
	<!-- This footer should hidden by default and shown when there are todos -->
	<footer class="footer">
		<!-- This should be `0 items left` by default -->
		<span class="todo-count"><strong>{{datas.length}}</strong> item left</span>
		<!-- Remove this if you don't implement routing -->
		<ul class="filters">
			<li>
				<a href="#/">All</a>
			</li>
			<li>
				<a href="#/active">Active</a>
			</li>
			<li>
				<a href="#/completed">Completed</a>
			</li>
		</ul>
		<!-- Hidden if no completed items are left ↓ -->
		<button class="clear-completed" v-show="checkStatus(1)" @click="delAll()">Clear completed</button>
	</footer>
</section>
<footer class="info">
	<p>Double-click to edit a todo</p>
	<!-- Remove the below line ↓ -->
	<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
	<!-- Change this out with your name and url ↓ -->
	<p>Created by <a href="http://todomvc.com">you</a></p>
	<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<!-- Scripts here. Don't remove ↓ -->
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="JS/index.js"></script>
</body>
</html>
